<a href="https://colab.research.google.com/github/JBadawood/Kaggle/blob/main/Intro_to_Programming-Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Intro to Programming (DONE ðŸ™‚)**
*Get started with Python, if you have no coding experience.*\
https://www.kaggle.com/learn/intro-to-programming

The newest Intro to Programming course is ***designed for people who have never written a single line of code. Youâ€™ll learn how to code in Python, from the very beginning.***

After completing this course, you will then be ready for the **Python course**, designed for people with some programming experience. Then you can apply your knowledge to the **Intro to Machine Learning course** and the **Intermediate Machine Learning course**.
____

**Kaggle**
> **Step1:** [Intro to Programming](https://www.kaggle.com/learn/intro-to-programming)\
**Step2:** [Python](https://www.kaggle.com/learn/python)\
**Step3:** [Intro to Machine Learning](https://www.kaggle.com/learn/intro-to-machine-learning)\
**Step4:** [Intro to Deep Learning](https://www.kaggle.com/learn/intro-to-deep-learning)\
**Step5:** [Computer Vision](https://www.kaggle.com/learn/computer-vision)

>**Step6:** [Intermediate Machine Learning](https://www.kaggle.com/learn/intermediate-machine-learning)\
**Step7:** [Feature Engineering](https://www.kaggle.com/learn/feature-engineering)\
**Step8:** [Time Series](https://www.kaggle.com/learn/time-series)

>**Step9:** [Machine Learning Specialization](https://www.deeplearning.ai/program/machine-learning-specialization/) (DeepLearning.AI & Stanford)\
**Step10:** [The Deep Learning Specialization](https://www.deeplearning.ai/program/deep-learning-specialization/) (DeepLearning.AI & Stanford)

----
**IBM & UDACITY | Data Science & Analysis**
> **Course1:** [Python for Data Science](https://cognitiveclass.ai/courses/python-for-data-science) == [AI Programming with Python](https://www.udacity.com/course/ai-programming-python-nanodegree--nd089)
\
**Course2:** [Data Analysis with Python](https://cognitiveclass.ai/courses/data-analysis-python)\
**Course3:** [Intro to Machine Learning with TensorFlow](https://www.udacity.com/course/intro-to-machine-learning-with-tensorflow-nanodegree--nd230)

**Install Kaggle exercises in Google Colab** ([link of steps](https://www.kaggle.com/questions-and-answers/165757))\
https://github.com/Kaggle/learntools

!git clone https://github.com/Kaggle/learntools.git \
!mv learntools learntools_dir \
!mv learntools_dir/learntools learntools

## **1- Arithmetic and Variables**

### 1-1 Printing
https://www.kaggle.com/code/alexisbcook/arithmetic-and-variables#Printing

In [ ]:
print("Hello, World!")

Hello, World!

### 1-2 Arithmetic
https://www.kaggle.com/code/alexisbcook/arithmetic-and-variables#Arithmetic

In [ ]:
print(1+2)

3

In [ ]:
print(9-5)

4

In [ ]:
add_n = 2+1 
print("Addition \n2 + 1 =",add_n, "\n")

sub_n = 5-4
print("Subtraction \n5 - 4 =",sub_n, "\n")

multipl_n = 2*4
print("Multiplication \n2 * 4 =",multipl_n, "\n")

div_n = 6/3
print("Division \n6 / 3 =",div_n, "\n")

exp_n = 3**2
print("Exponent \n3 ** 2 =",exp_n, "\n")

Addition
2 + 1 = 3

Subtraction
5 - 4 = 1

Multiplication
2 * 4 = 8

Division
6 / 3 = 2.0

Exponent
3 ** 2 = 9

Control the order of operations\
*Python follows the **PEMDAS rule** when deciding the order of operations*

In [ ]:
cont = ((1 + 3) * (9 - 2) / 2) ** 2
print("((1 + 3) * (9 - 2) / 2) ** 2\n", " = ((4) * (7) / 2) ** 2 \n", " = (28 / 2) ** 2 \n", " = (14) ** 2 \n", " =", cont)

((1 + 3) * (9 - 2) / 2) ** 2
  = ((4) * (7) / 2) ** 2
  = (28 / 2) ** 2
  = (14) ** 2
  = 196.0

### 1-3 Comments
https://www.kaggle.com/code/alexisbcook/arithmetic-and-variables#Comments

In [ ]:
# Mutliply 3 by 2
print(3 * 2)

6

### 1-4 Variables
https://www.kaggle.com/code/alexisbcook/arithmetic-and-variables#Variables

In [ ]:
# Create variable called test_var
test_var = 5 + 4

# Print the value of test_var
print(test_var)

9

In [ ]:
# Set the value of the varible to 3
my_var = 3

# Print the varible my_var
print("The value of my_var is:",my_var)

# Change the variable's value to 100
my_var = 100

# Print the new value of my_var
print("The new value of my_var is:",my_var)

The value of my_var is: 3
The new value of my_var is: 100

In [ ]:
print("1st variable: ",my_var, "\n2nd variable: ",test_var )

1st variable:  100
2nd variable:  9

In [ ]:
# Increase the value of my_var:
my_var +=3

# Print the new value of my_var:
print("The new value of my_var = my_var + 3:\n",my_var)

The new value of my_var = my_var + 3:
 103

Calculate the number of seconds in 4 years

In [ ]:
# Create the variables:
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years:
total_secs = num_years * days_per_year * hours_per_day * mins_per_hour * secs_per_min
print("the number of seconds in 4 years is:\n", total_secs)

the number of seconds in 4 years is:
 126144000

In [ ]:
"""
Update the number of days
to include the leap years
"""
days_per_year = 365.25

# Calculate number of seconds in four years:
total_secs = num_years * days_per_year * hours_per_day * mins_per_hour * secs_per_min
print("the number of seconds in 4 years is:\n", total_secs)

the number of seconds in 4 years is:
 126230400.0

In [ ]:
# Debugging (NameError)
print(days_per_yer)

NameError: ignored

In [ ]:
print(days_per_year)

365.25

### Practice manipulating variables with arithmetic.

#### Question 1

In [ ]:
print("Ø£Ù‡Ù„Ù‹Ø§ ÙˆØ³Ù‡Ù„Ù‹Ø§")

Ø£Ù‡Ù„Ù‹Ø§ ÙˆØ³Ù‡Ù„Ù‹Ø§

#### Question 2

In [ ]:
print("She Said 'Hello'")

She Said 'Hello'

In [ ]:
print("3+4")

3+4

In [ ]:
print(3+4)

7

#### Question 3

In [ ]:
#print(2+1)

In [ ]:
print(2+1)

3

#### Question 4

In [ ]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [ ]:
# TODO: Set the value of the births_per_min variable
births_per_min = 250

# TODO: Set the value of the births_per_day variable
births_per_day = births_per_min * mins_per_hour * hours_per_day

In [ ]:
print(births_per_day)

360000

#### Question 5
(In order to learn how to write this code yourself, you can take the [Python course](https://www.kaggle.com/learn/python) and then the [Pandas course](https://www.kaggle.com/learn/pandas).)

In [ ]:
# Load the data from the titanic competition
import pandas as pd
titanic_data = pd.read_csv("/content/drive/MyDrive/iMLND/Titanic/train.csv")

# Show the first five rows of the data
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

(Don't worry about the details of how these variables are calculated for now. You can learn more about how to calculate these values in the [Pandas course](https://www.kaggle.com/learn/pandas).)

In [ ]:
# Number of total passengers
total = len(titanic_data)
print("Total number of passengers who boarded the ship:\n",total)

# Number of passengers who survived
survived = (titanic_data.Survived == 1).sum()
print("\nNumber of passengers who survived the shipwreck:\n",survived)

# Number of passengers under 18
minors = (titanic_data.Age < 18).sum()
print("\nNumber of passengers under 18 years of age:\n",minors)

Total number of passengers who boarded the ship:
 891

Number of passengers who survived the shipwreck:
 342

Number of passengers under 18 years of age:
 113

In [ ]:
# TODO: Fill in the value of the survived_fraction variable
survived_fraction = survived / total

# Print the value of the variable
print(survived_fraction)

# TODO: Fill in the value of the minors_fraction variable
minors_fraction =  minors / total

# Print the value of the variable
print(minors_fraction)

0.3838383838383838
0.12682379349046016

## **2- Functions**

### 2-1 Intro to functions: a simple example
https://www.kaggle.com/code/alexisbcook/functions#Intro-to-functions:-a-simple-example

In [ ]:
# Define the function
def add_three(input_var):
  output_var = input_var + 3
  return output_var

In [ ]:
# Add three to number 5
add_three(5)

8

In [ ]:
# Run the function with 10 as input
new_number = add_three(10)

# Check that the value is 13, as expected
print(new_number)

13

### 2-2 Naming functions
https://www.kaggle.com/code/alexisbcook/functions#Naming-functions

In [ ]:
def get_pay(num_hours):
  # Pre-tax pay, based on receiving $15/hour
  pay_pretax = num_hours * 15

  # After-tax pay, based on being in 12% tax bracket
  pay_aftertax = pay_pretax * (1 - .12)

  return pay_aftertax

In [ ]:
# Calculate pay based on working 40 hours
pay_fulltime = get_pay(40)
print("The paycheck, based on working 40 hours is ${}".format(pay_fulltime))

The paycheck, based on working 40 hours is $528.0

In [ ]:
# Calculate pay based on a different number of hours worked
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

**Variable "scope"**\
the next code cell errors, because `pay_aftertax` (**local scope**) only exists inside the function

However, as you've seen, variables defined outside all functions (like `pay_parttime`) have a (**global scope**) and can be accessed anywhere

In [ ]:
print(pay_aftertax) # NameError: name 'pay_aftertax' is not defined

NameError: ignored

### 2-3 Functions with multiple arguments
https://www.kaggle.com/code/alexisbcook/functions#Functions-with-multiple-arguments

In [ ]:
# Calculate a weekly paycheck based on three arguments
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
  #Pre-tax pay 
  pay_pretax = num_hours * hourly_wage

  #After-tax pay
  pay_aftertax = pay_pretax * (1 - tax_bracket)

  return pay_aftertax

In the code cell below, we calculate the pay after taxes for someone who works **40 hours** , makes **$24/hour**, and is in a **22% tax bracket**.

In [ ]:
higher_pay_aftertax = get_pay_with_more_inputs(40,24,.22)
print("The pay after taxes is ${}".format(higher_pay_aftertax))

The pay after taxes is $748.8000000000001

The following code cell gives the same result as when we ran `get_pay(40)`, because `hourly_wage` is set to **15**, and `tax_bracket` is set to **12%**, which lines up with how we designed `get_pay`.

In [ ]:
same_pay_fulltime = get_pay_with_more_inputs(40, 15, 0.12)
print(same_pay_fulltime)

528.0

But, if you're sure the **hourly wage** and **tax bracket** won't need to change, the new function is just more complicated than necessary. In general, when defining functions, you'll need to consider how much flexibility you need, based on your use case.

### 2-4 Functions with no arguments
https://www.kaggle.com/code/alexisbcook/functions#Functions-with-no-arguments

In [ ]:
# Define the function with no arguments and with no return
def print_hello():
  print('Hello, you!')
  print('Good morning!')

# Call the function
print_hello()

Hello, you!
Good morning!

### Exercise: Functions

In [ ]:
# Set up the exercise
import math

#### Question 1

[ House Prices - Advanced Regression Techniques competition](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview)

In [ ]:
def get_expected_cost(beds, baths):
  value = 80000 + beds * 30000 + baths * 10000
  return value

In [ ]:
get_expected_cost(0,0)

80000

a house with 1 bedroom and 1 bathroom has an expected cost of `120000`

In [ ]:
get_expected_cost(1,1)

120000

a house with 2 bedrooms and 1 bathroom has an expected cost of `150000`

In [ ]:
get_expected_cost(2,1)

150000

#### Question 2

Option 1: house with two bedrooms and three bathrooms\
Option 2: house with three bedrooms and two bathrooms\
Option 3: house with three bedrooms and three bathrooms\
Option 4: house with three bedrooms and four bathrooms

In [ ]:
option_one = get_expected_cost(2,3)
option_two = get_expected_cost(3,2)
option_three = get_expected_cost(3,3)
option_four = get_expected_cost(3,4)

print(option_one)
print(option_two)
print(option_three)
print(option_four)

170000
190000
200000
210000

#### Question 3

As a first step, define a function `get_cost()` that takes as input:

`sqft_walls` = total square feet of walls to be painted\
`sqft_ceiling` = square feet of ceiling to be painted\
`sqft_per_gallon` = number of square feet that you can cover with one gallon of paint\
`cost_per_gallon` = cost (in dollars) of one gallon of paint

In [ ]:
def get_cost(sqft_walls,sqft_ceiling,sqft_per_gallon,cost_per_gallon):
  cost = (sqft_walls + sqft_ceiling) / sqft_per_gallon * cost_per_gallon
  return cost

sqft_walls=432, sqft_ceiling=144, sqft_per_gallon=400, cost_per_gallon=15

In [ ]:
sqft_walls=432
sqft_ceiling=144
sqft_per_gallon=400
cost_per_gallon=15

get_cost(sqft_walls,sqft_ceiling,sqft_per_gallon,cost_per_gallon)

21.599999999999998

#### Question 4

432 square feet of walls, and\
144 square feet of ceiling.

In [ ]:
sqft_walls=432
sqft_ceiling=144
sqft_per_gallon=400
cost_per_gallon=15

project_cost = get_cost(432,144,400,15)
print(project_cost)

21.599999999999998

#### Question 5

math.ceil()

In [ ]:
import math

test_value = 5.19

rounded_value = math.ceil(test_value)
print(rounded_value)

6

In [ ]:
def get_actual_cost(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
  cost = math.ceil((sqft_walls + sqft_ceiling) / sqft_per_gallon) * cost_per_gallon
  return cost

In [ ]:
project_cost = get_actual_cost(432,144,400,15)
print(project_cost)

30

In [ ]:
get_actual_cost(594,288,400,15)

45

## **3- Data Types**

### 3-1 Integers
https://www.kaggle.com/code/alexisbcook/data-types#Integers

In [ ]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

### 3-2 Floats
https://www.kaggle.com/code/alexisbcook/data-types#Floats

In [ ]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

In [ ]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

the `round()` function

In [ ]:
round(almost_pi,3)

3.143

In [ ]:
# Round to 5 decimal places
round_pi = round(almost_pi,5)
print(round_pi)
print(type(round_pi))

3.14286
<class 'float'>

 (`1.` or `1.0`, `1.00`, etc) will be recognized as a float

In [ ]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

In [ ]:
print(type(1.0))
print(type(1.00))

<class 'float'>
<class 'float'>

### 3-3 Booleans
https://www.kaggle.com/code/alexisbcook/data-types#Booleans

In [ ]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [ ]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

In [ ]:
z_three = 1 < 2
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [ ]:
z_four = 5 < 2
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [ ]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

### 3-4 Strings
https://www.kaggle.com/code/alexisbcook/data-types#Strings

In [ ]:
w = 'Hello, Python!'
print(w)
print(type(w))

Hello, Python!
<class 'str'>

`len()` give the length of a string including the space, comma, and exclamation mark

In [ ]:
print('The length of {} is {}'.format(w,len(w)))

The length of Hello, Python! is 14

In [ ]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [ ]:
my_number = '1.12323'
print(my_number)
print(type(my_number))

1.12323
<class 'str'>

In [ ]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12323
<class 'float'>

In [ ]:
new_string = 'abc' + 'def'
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [ ]:
newest_string = 'abc' * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

In [ ]:
# Note that you cannot multiply a string by a float!
will_not_work = 'abc' * 3. # TypeError: can't multiply sequence by non-int of type 'float'

TypeError: ignored

### Explore different data types

#### Question 1

In [ ]:
# Define a float
y = 1.
print(y)
print(type(y))

# Convert float to integer by int()
z = int(y)
print(z)
print(type(z))

1.0
<class 'float'>
1
<class 'int'>

**Negative** floats are always **rounded UP** to the closest integer (for instance, both -1.1 and -1.9 are rounded up to -1).

**Positive** floats are always rounded DOWN to the closest integer (for instance, 2.1 and 2.9 are rounded down to 2).

In [ ]:
print(int(1.3878))
print(int(1.7878))
print(int(-1.3878))
print(int(-1.7878))

1
1
-1
-1

#### Question 2

When you multiple an integer or float by a boolean with value True, it just returns that same integer or float (and is equivalent to multiplying by 1). 

If you multiply an integer or float by a boolean with value False, it always returns 0. This is true for both positive and negative numbers. 

If you multiply a string by a boolean with value True, it just returns that same string. 

And if you multiply a string by a boolean with value False, it returns an empty string (or a string with length zero).

In [ ]:
print(3 * True)
print(3 * False)
print(-3 * True)
print(-3 * False)
print(-3.55 * True)
print('avb' * True)
print('avb' * False)

3
0
-3
0
-3.55
avb

#### Question 3

Use the next code cell to create a function `get_expected_cost` that takes as input three variables:
- `beds` - number of bedrooms (data type float)
- `baths` - number of bathrooms (data type float)
- `has_basement` - whether or not the house has a basement (data type boolean)

It should return the expected cost of a house with those characteristics. Assume that:
- the expected cost for a house with 0 bedrooms and 0 bathrooms, and no basement is 80000, 
- each bedroom adds 30000 to the expected cost,
- each bathroom adds 10000 to the expected cost, and
- a basement adds 40000 to the expected cost.

In [ ]:
def get_expected_cost(beds, baths, has_basement):
  value = 80000 + int(beds) * 30000 + int(baths) * 10000 + has_basement * 40000
  return value

In [ ]:
get_expected_cost(0,0,False)

80000

In [ ]:
get_expected_cost(1,1,False)

120000

In [ ]:
get_expected_cost(2,1,True)

190000

#### Question 4

When you add booleans, adding `False` is equivalent to adding 0, and adding `True` is equivalent to adding 1.

In [ ]:
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

0
1
1
2
3

#### Question 5

You own an online shop where you sell rings with custom engravings.  You offer both gold plated and solid gold rings.
- Gold plated rings have a base cost of \\$50, and you charge \\$7 per engraved unit.  
- Solid gold rings have a base cost of \\$100, and you charge \\$10 per engraved unit.
- Spaces and punctuation are counted as engraved units.

Write a function `cost_of_project()` that takes two arguments:
- `engraving` - a Python string with the text of the engraving
- `solid_gold` - a Boolean that indicates whether the ring is solid gold

In [ ]:
def cost_of_project(engraving,solid_gold):
  cost = len(engraving) * (7 + solid_gold * 3) + solid_gold * 50 + 50
  return cost

In [ ]:
cost_of_project('Jameel',True)

142

In [ ]:
cost_of_project('Ahmed',False)

85

In [ ]:
cost_of_project('Charlie+Denver',True)

240

Calculate the cost of engraving `Charlie+Denver` on a solid gold ring.

In [ ]:
project_one = cost_of_project("Charlie+Denver", True)
print( 'The cost of engraving Charlie+Denver on a solid gold ring is $',project_one)

The cost of engraving Charlie+Denver on a solid gold ring is $ 240

Calculate the cost of engraving `08/10/2000` on a gold plated ring

In [ ]:
project_two = cost_of_project("08/10/2000", False)
print("The cost of engraving 08/10/2000 on a gold plated ring is $",project_two)

The cost of engraving 08/10/2000 on a gold plated ring is $ 120

## **4- Conditions and Conditional Statements**

### 4-1 Conditions
https://www.kaggle.com/code/alexisbcook/conditions-and-conditional-statements#Conditions

The most common ways of writing conditions just compare two different values

In [ ]:
2 > 3

False

Use conditions to compare the values of variables

In [ ]:
var_one = 1
var_two = 2

In [ ]:
print(var_one < 1)
print(var_one <= var_two)

False
True

### 4-2 Conditional Statements
https://www.kaggle.com/code/alexisbcook/conditions-and-conditional-statements#Conditional-statements

#### "if" statements

Body temperature (in Celcius)

In [ ]:
def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."

    # Update value of message only if temperature greater than 38
    if temp > 38:
      message = 'Fever!'

    return message

In [ ]:
evaluate_temp(36)

'Normal temperature.'

In [ ]:
evaluate_temp(38.5)

'Fever!'

#### "if ... else" statements

In [ ]:
def evaluate_temp(temp):
    if temp > 38:
        message = 'Fever!'

    else:
        message = "Normal temperature."

    return message

In [ ]:
evaluate_temp(37)

'Normal temperature.'

#### "if ... elif ... else" statements

In [ ]:
def evaluate_temp(temp):
    if temp > 38:
        message = 'Fever!'

    elif temp > 35:
        message = "Normal temperature."

    else:
        message = "Low temperature."

    return message

In [ ]:
evaluate_temp(36)

'Normal temperature.'

In [ ]:
evaluate_temp(34)

'Low temperature.'

### 4-3 Example - Calculations
https://www.kaggle.com/code/alexisbcook/conditions-and-conditional-statements#Example---Calculations

In the examples so far, conditional statements were used to decide how to set the values of variables. But you can also use conditional statements to perform different calculations.

In this next example, say you live in a country with only two tax brackets. Everyone earning less than 12,000 pays 25% in taxes, and anyone earning 12,000 or more pays 30%. The function below calculates how much tax is owed.

In [ ]:
def get_taxes(earnings):
  if earnings < 12000:
    tax_owed = .25 * earnings

  else:
    tax_owed = .30 * earnings

  return tax_owed

In [ ]:
jan_taxes = get_taxes(9000)
ana_taxes = get_taxes(15000)

print(jan_taxes)
print(ana_taxes)

2250.0
4500.0

Before we move on to another example - remember the add_three_or_eight() function from the introduction? It accepts a number as input and adds three if the input is less than 10, and otherwise adds eight. Can you figure out how you would write this function? Once you have an answer, click on the "Show hidden code" button below to see the solution.

In [ ]:
def add_three_or_eight(number):
  if number < 10:
    added = number + 3
  else:
    added = number + 8

  return added

In [ ]:
print(add_three_or_eight(9))
print(add_three_or_eight(11))

12
19

### 4-4 Example - Multiple "elif" statements
https://www.kaggle.com/code/alexisbcook/conditions-and-conditional-statements#Example---Multiple-%22elif%22-statements

Calculates the dose of medication (in milliliters) to give to a child, based on weight (in kilograms).

The order of the `elif` statements does matter here! Re-ordering the statements will return a very different result.

In [ ]:
def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5

    # Dosage is 10 ml for anyone 21.2 kg over
    else:
        dose = 10
    return dose

In [ ]:
get_dose(12)

5

### Exercise: Conditions and Conditional Statements

#### Question 1

You realize that for consistency, all of the grades should be formatted in the same way, and you decide to format them all as letters.  For the conversion, you decide to assign:
- `"A"` - any grade 90-100, inclusive
- `"B"` - any grade 80-89, inclusive
- `"C"` - any grade 70-79, inclusive
- `"D"` - any grade 60-69, inclusive
- `"F"` - any grade <60

In [ ]:
def get_grade(score):
  if 100 >= score >= 90:
    grade = "A"
  elif 89 >= score >= 80:
    grade = "B"
  elif 79 >= score >= 70:
    grade = "C"
  elif 69 >= score >= 60:
    grade = "D"

  else:
    grade = 'F'

  return grade

In [ ]:
print(get_grade(85))
print(get_grade(45))

B
F

#### Question 2

The online shop has the following price structure:
- Gold plated rings have a base cost of \\$50, and you charge \\$7 per engraved unit.  
- Solid gold rings have a base cost of \\$100, and you charge \\$10 per engraved unit.
- Spaces and punctuation are counted as engraved units.

Your function `cost_of_project()` takes two arguments:
- `engraving` - a Python string with the text of the engraving
- `solid_gold` - a Boolean that indicates whether the ring is solid gold

It should return the cost of the project.

In [ ]:
def cost_of_project(engraving,solid_gold):
    if solid_gold == True:
        cost = 100 + len(engraving) * 10
  
    else:
        cost = 50 + len(engraving) * 7
    
    return cost

Calculate the cost of engraving `Charlie+Denver` on a solid gold ring.

In [ ]:
project_one = cost_of_project("Charlie+Denver", True)
print( 'The cost of engraving Charlie+Denver on a solid gold ring is $',project_one)

The cost of engraving Charlie+Denver on a solid gold ring is $ 240

Calculate the cost of engraving `08/10/2000` on a gold plated ring

In [ ]:
project_two = cost_of_project("08/10/2000", False)
print("The cost of engraving 08/10/2000 on a gold plated ring is $",project_two)

The cost of engraving 08/10/2000 on a gold plated ring is $ 120

#### Question 3

You are a programmer at a water agency.  Recently, you have been tasked to write a function `get_water_bill()` that takes as input:
- `num_gallons` = the number of gallons of water that a customer used that month.  (This will always be an integer with no decimal part.)

It should output the water bill.  

The water agency uses this pricing structure:
<table style="width: 100%;">
<tbody>
<tr><th><b>Tier</b></th><th><b>Amount in gallons</b></th><th><b>Price per 1000 gallons</b></th></tr>
<tr>
<td>Tier 1</td>
<td>0 - 8,000</td>
<td>\$5</td>
</tr>
<tr>
<td>Tier 2</td>
<td>8,001 - 22,000</td>
<td>\$6</td>
</tr>
<tr>
<td>Tier 3</td>
<td>22,001 - 30,000</td>
<td>\$7</td>
</tr>
<tr>
<td>Tier 4</td>
<td>30,001+</td>
<td>\$10</td>
</tr>
</tbody>
</table>

For example: 
- Someone who uses 10,000 gallons of water in a month is placed in Tier 2, and needs to pay a water bill of \\$6 * 10 = \\$60.  In other words, `get_water_bill(10000)` should return `60.0`.
- Someone who uses 25,000 gallons of water in a month is placed in Tier 3, and needs to pay a water bill of \\$7 * 25 = \\$175.  In other words, `get_water_bill(25000)` should return `175.0`.

**Do not round your answer.**  So, your answer might return fractions of a penny.

In [ ]:
def get_water_bill(num_gallons):
    if 0 <= num_gallons <= 8000:
        bill = num_gallons * 5 / 1000
    
    elif 8001 <= num_gallons <= 22000:
        bill = num_gallons * 6 / 1000
    
    elif 22001 <= num_gallons <= 30000:
        bill = num_gallons * 7 / 1000
    
    else:
        bill = num_gallons * 10 / 1000

    return bill

In [ ]:
print(get_water_bill(10000))
print(get_water_bill(25000))

60.0
175.0

#### Question 4

You work for a company that provides data services.  For \\$100/month, your company provides 15 gigabytes (GB) of data.  Then, any additional data is billed at \\$0.10/MB (or \\$100/GB, since 1,000 MB are in 1 GB).

Use the next code cell to write a function `get_phone_bill()` that takes as input:
- `gb` = number of GB that the customer used in a month

It should return the customer's total phone bill.

For instance:
- A customer who uses 10 GB of data in one month is billed only \\$100, since the usage stayed under 15 GB.  In other words, `get_phone_bill(10)` should return `100`.
- A customer who uses 15.1 GB (or 15 GB + 100 MB) of data in one month has gone over by .1 GB, so they must pay \\$100 (cost of plan), plus \\$0.10 * 100 = \\$10, for a total bill of \\$110.  In other words, `get_phone_bill(15.1)` should return `110`.

Do not round your answer.

In [ ]:
# Edit the function to return the correct bill for different values of GB
def get_phone_bill(gb):
    if gb <= 15:
        bill = 100
    else:
        bill = round(100 + (gb - 15) * 100)

    return bill

In [ ]:
print(get_phone_bill(10))
print(get_phone_bill(15.1))

100
110

#### Question 5

In this question, you'll work with a function `get_labels()` that takes the nutritional details about a food item and prints the needed warning labels.  This function takes several inputs:
- `food_type` = one of `"solid"` or `"liquid"`
- `serving_size` = size of one serving (if solid, in grams; if liquid, in milliliters)
- `calories_per_serving` = calories in one serving
- `saturated_fat_g` = grams of saturated fat in one serving
- `trans_fat_g` = grams of trans fat in one serving
- `sodium_mg` = mg of sodium in one serving
- `sugars_g` = grams of sugar in one serving

Note that some of the code here should feel unfamiliar to you, since we have not shared the details of how some of the functions like `excess_sugar()` or `excess_saturated_fat()` work.  But at a high level, these are functions that return a value of `True` if the food is deemed to have an excess of sugar or saturated fat, respectively.  These functions are used within the `get_labels()` function, and whenever there is an excess (of sugar or saturated fat, but also of trans fat, sodium, or calories), it prints the corresponding label.

Install Kaggle exercises in Google Colab
https://github.com/Kaggle/learntools

!git clone https://github.com/Kaggle/learntools.git
!mv learntools learntools_dir
!mv learntools_dir/learntools learntools

>In general, as you continue coding in Python, you will often be running code that other people have written. This is *common practice for advanced programmers*.

For the rest of this question, you will use the same `get_labels()` function to determine the labels for more foods.  **This question is designed to help you get practice with feeling comfortable with code that other people have written**, and where you don't have time to review every single line of code before interacting with it.  For instance, when you take the [Intro to Machine Learning course](http://www.kaggle.com/learn/intro-to-machine-learning), you'll **work with a Python package called "scikit-learn"**, which is a large collection of code that you'll learn how to run without reviewing all of the code in detail (as it would take too long, and **you can trust that it was implemented correctly**).

In [ ]:
!git clone https://github.com/Kaggle/learntools.git
!mv learntools learntools_dir
!mv learntools_dir/learntools learntools

Cloning into 'learntools'...
remote: Enumerating objects: 17781, done.
remote: Counting objects: 100% (161/161), done.
remote: Compressing objects: 100% (132/132), done.
remote: Total 17781 (delta 82), reused 63 (delta 29), pack-reused 17620
Receiving objects: 100% (17781/17781), 104.59 MiB | 28.16 MiB/s, done.
Resolving deltas: 100% (13194/13194), done.

In [ ]:
from learntools.core import binder
binder.bind(globals())
from learntools.intro_to_programming.ex4 import *
print('Setup complete.')

Setup complete.

In [ ]:
# import functions needed to make get_labels work
from learntools.intro_to_programming.ex4q5 import excess_sugar, excess_saturated_fat, excess_trans_fat, excess_sodium, excess_calories

def get_labels(food_type, serving_size, calories_per_serving, saturated_fat_g, trans_fat_g, sodium_mg, sugars_g):
    # Print messages based on findings
    if excess_sugar(sugars_g, calories_per_serving) == True:
        print("EXCESO AZÃšCARES / EXCESS SUGAR")
    if excess_saturated_fat(saturated_fat_g, calories_per_serving) == True:
        print("EXCESO GRASAS SATURADAS / EXCESS SATURATED FAT")
    if excess_trans_fat(trans_fat_g, calories_per_serving) == True:
        print("EXCESO GRASAS TRANS / EXCESS TRANS FAT")
    if excess_sodium(calories_per_serving, sodium_mg) == True:
        print("EXCESO SODIO / EXCESS SODIUM")
    if excess_calories(food_type, calories_per_serving, serving_size) == True:
        print("EXCESO CALORÃAS / EXCESS CALORIES")

The next code cell demonstrates how to use `get_labels()` to get the warning labels that the food item should contain.  We begin with [bologna](https://world.openfoodfacts.org/product/4099100179378/bologna).  Here is [an image](https://imgur.com/Cfcx72e) with all of the nutritional information.  Note that for this food,
- `food_type = "solid"` (because bologna is a solid and not a liquid)
- `serving_size = 32` (the serving size is 32 grams)
- `calories_per_serving = 110` (there are 110 calories per serving)
- `saturated_fat_g = 2.5` (there are 2.5 grams of saturated fat per serving)
- `trans_fat_g = 0` (there are 0 grams of trans fat per serving)
- `sodium_mg = 400` (there are 400 mg of sodium per serving)
- `sugars_g = 1` (the nutrition facts say <1g, but we will round it up to 1 gram per serving to be safe)

By supplying all of these values to the function, we can print the warning labels.

In [ ]:
# bologna https://world.openfoodfacts.org/product/4099100179378/bologna
get_labels("solid", 32, 110, 2.5, 0, 400, 1)

EXCESO GRASAS SATURADAS / EXCESS SATURATED FAT
EXCESO SODIO / EXCESS SODIUM
EXCESO CALORÃAS / EXCESS CALORIES

- Fill in the values for [this cereal](https://world.openfoodfacts.org/product/7501008023624/zucaritas-kellogg-s).  Here is [an image](https://imgur.com/a/MUxzHVU) with all of the nutritional information.

In [ ]:
# zucaritas cereal https://world.openfoodfacts.org/product/7501008023624/zucaritas-kellogg-s

get_labels("solid",40, 150, 0, 0,150,16)

EXCESO AZÃšCARES / EXCESS SUGAR
EXCESO SODIO / EXCESS SODIUM
EXCESO CALORÃAS / EXCESS CALORIES

- Fill in the values for [these mozzarella sticks](https://world-es.openfoodfacts.org/producto/0062325540104/mozzarella-cheese-sticks).  Here is [an image](https://imgur.com/rcdB7VH) with all of the nutritional information.

In [ ]:
# mozzarella sticks https://world-es.openfoodfacts.org/producto/0062325540104/mozzarella-cheese-sticks
get_labels("solid",21,68,3,0.2,208,0)

EXCESO GRASAS SATURADAS / EXCESS SATURATED FAT
EXCESO GRASAS TRANS / EXCESS TRANS FAT
EXCESO SODIO / EXCESS SODIUM
EXCESO CALORÃAS / EXCESS CALORIES

- try [these cookies](https://world.openfoodfacts.org/product/0069700118545/biscuits-au-sucre-pretraches).  Here is [an image](https://imgur.com/2Bc271o) with all of the nutritional information.

In [ ]:
# pillsbury cookies https://world.openfoodfacts.org/product/0069700118545/biscuits-au-sucre-pretraches
get_labels("solid",30,120,1.5,0.1,110,9)

EXCESO AZÃšCARES / EXCESS SUGAR
EXCESO GRASAS SATURADAS / EXCESS SATURATED FAT
EXCESO CALORÃAS / EXCESS CALORIES

- try [this soda](https://world-es.openfoodfacts.org/producto/0078000113464/orange-soda-sunkist).  Here is [an image](https://imgur.com/RsBYa8E) with all of the nutritional information.

In [ ]:
# sunkist orange soda https://world-es.openfoodfacts.org/producto/0078000113464/orange-soda-sunkist
get_labels('liquid',355,160,0,0,65,44)

EXCESO AZÃšCARES / EXCESS SUGAR

## **5- Intro to Lists**

### 5-1 Introduction
https://www.kaggle.com/code/alexisbcook/intro-to-lists#Introduction

In [ ]:
flowers = "pink primrose,\nhard-leaved pocket orchid,\ncanterbury bells,\nsweet pea,\nenglish marigold,\ntiger lily,\nmoon orchid,\nbird of paradise,\nmonkshood,\nglobe thistle"

print(type(flowers))
print(flowers)

<class 'str'>
pink primrose,
hard-leaved pocket orchid,
canterbury bells,
sweet pea,
english marigold,
tiger lily,
moon orchid,
bird of paradise,
monkshood,
globe thistle

In [ ]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

- get an item at a specified position (first, second, third, etc),
- check the number of items, and
- add and remove items.

In [ ]:
print("First item in the the list is",flowers_list[0])
print('The number of items is', len(flowers_list))

First item in the the list is pink primrose
The number of items is 10

### 5-2 Length
https://www.kaggle.com/code/alexisbcook/intro-to-lists#Length

In [ ]:
# The list has ten entries
print(len(flowers_list))

10

### 5-3 Indexing
https://www.kaggle.com/code/alexisbcook/intro-to-lists#Indexing

In [ ]:
print("First entry:",flowers_list[0])
print("Second entry:",flowers_list[1])

print("Last entry:",flowers_list[len(flowers_list) - 1])

First entry: pink primrose
Second entry: hard-leaved pocket orchid
Last entry: globe thistle

### 5-4 Slicing
https://www.kaggle.com/code/alexisbcook/intro-to-lists#Slicing

In [ ]:
print('First three entries:', flowers_list[:3])
print('Final two entries:', flowers_list[-2:])

First three entries: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
Final two entries: ['monkshood', 'globe thistle']

### 5-5 Removing items
https://www.kaggle.com/code/alexisbcook/intro-to-lists#Removing-items

In [ ]:
flowers_list

['pink primrose',
 'hard-leaved pocket orchid',
 'canterbury bells',
 'sweet pea',
 'english marigold',
 'tiger lily',
 'moon orchid',
 'bird of paradise',
 'monkshood',
 'globe thistle']

In [ ]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

### 5-6 Adding items
https://www.kaggle.com/code/alexisbcook/intro-to-lists#Adding-items

In [ ]:
flowers_list

['pink primrose',
 'hard-leaved pocket orchid',
 'canterbury bells',
 'sweet pea',
 'english marigold',
 'tiger lily',
 'moon orchid',
 'bird of paradise',
 'monkshood']

In [ ]:
flowers_list.append("snapdragon")
flowers_list

['pink primrose',
 'hard-leaved pocket orchid',
 'canterbury bells',
 'sweet pea',
 'english marigold',
 'tiger lily',
 'moon orchid',
 'bird of paradise',
 'monkshood',
 'snapdragon']

In [ ]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

In [ ]:
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:",hardcover_sales[2])

Length of the list: 7
Entry at index 2: 172

In [ ]:
print("Maximum:", max(hardcover_sales))
print("Minimum:", min(hardcover_sales))

Maximum: 191
Minimum: 128

In [ ]:
print("Total books sold in one week:", sum(hardcover_sales))

Total books sold in one week: 1107

In [ ]:
print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

Average books sold in first five days: 153.8

### Practice creating and modifying lists

#### Question 1

You own a restaurant with five food dishes, organized in the Python list `menu` below.  One day, you decide to:
- remove bean soup (`'bean soup'`) from the menu, and
- add roasted beet salad (`'roasted beet salad'`) to the menu.

In [ ]:
# Initial menu for your restaurant
menu = ['stewed meat with onions', 'bean soup', 'risotto with trout and shrimp',
       'fish soup with cream and onion', 'gyro']

In [ ]:
menu.remove('bean soup')
menu

['stewed meat with onions',
 'risotto with trout and shrimp',
 'fish soup with cream and onion',
 'gyro']

In [ ]:
menu.append('roasted beet salad')
menu

['stewed meat with onions',
 'risotto with trout and shrimp',
 'fish soup with cream and onion',
 'gyro',
 'roasted beet salad']

#### Question 2

The list `num_customers` contains the number of customers who came into your restaurant every day over the last month (which lasted thirty days).  Fill in values for each of the following:
- `avg_first_seven` - average number of customers who visited in the first seven days
- `avg_last_seven` - average number of customers who visited in the last seven days
- `max_month` - number of customers on the day that got the most customers in the last month
- `min_month` - number of customers on the day that got the least customers in the last month

In [ ]:
# Number of customers each day for the last month
num_customers = [137, 147, 135, 128, 170, 174, 165, 146, 126, 159,
                 141, 148, 132, 147, 168, 153, 170, 161, 148, 152,
                 141, 151, 131, 149, 164, 163, 143, 143, 166, 171]

In [ ]:
print(num_customers[:7])
print(sum(num_customers[:7])/7)

[137, 147, 135, 128, 170, 174, 165]
150.85714285714286

In [ ]:
print(num_customers[-7:])
print(sum(num_customers[-7:])/7)

[149, 164, 163, 143, 143, 166, 171]
157.0

In [ ]:
print(max(num_customers))
print(min(num_customers))

174
126

#### Question 3

In [ ]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

You can actually use Python to quickly **turn this string into a list** with `.split()`.  In the parentheses, we need to provide the character should be used to mark the end of one list item and the beginning of another, and enclose it in quotation marks.  In this case, that character is a comma.

In [ ]:
flowers.split(",")

['pink primrose',
 'hard-leaved pocket orchid',
 'canterbury bells',
 'sweet pea',
 'english marigold',
 'tiger lily',
 'moon orchid',
 'bird of paradise',
 'monkshood',
 'globe thistle']

- `letters` should be a Python list where each entry is an uppercase letter of the English alphabet.  For instance, the first two entries should be `"A"` and `"B"`, and the final two entries should be `"Y"` and `"Z"`.  Use the string `alphabet` to create this list.

In [ ]:
alphabet = "A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z"

In [ ]:
letters = alphabet.split(".")
print(letters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

- `address` should be a Python list where each row in `address` is a different item in the list.  Currently, each row in `address` is separated by a comma.

In [ ]:
address = "Mr. H. Potter,The cupboard under the Stairs,4 Privet Drive,Little Whinging,Surrey"

In [ ]:
formatted_address = address.split(",")
print(formatted_address)

['Mr. H. Potter', 'The cupboard under the Stairs', '4 Privet Drive', 'Little Whinging', 'Surrey']

#### Question 4

In the Python course, you'll learn all about **list comprehensions**, which allow you to create a list based on the values in another list.  In this question, you'll get a brief preview of how they work.

In [ ]:
test_ratings = [1, 2, 3, 4, 5]

Then we can use this list (`test_ratings`) to create a new list (`test_liked`) where each item has been turned into a boolean, depending on whether or not the item is greater than or equal to four.

In [ ]:
test_liked = [i >= 4 for i in test_ratings]
print(test_liked)

[False, False, False, True, True]

We say someone liked the movie, if they gave a rating of either 4 or 5.  Your function should return the percentage of people who liked the movie.

For instance, if we supply a value of `[1, 2, 3, 4, 5, 4, 5, 1]`, then 50% (4/8) of the people liked the movie, and the function should return `0.5`.

In [ ]:
def percentage_liked(ratings):
  list_liked = [i >= 4 for i in ratings]
  percentage_liked = sum(list_liked)/len(ratings)
  return percentage_liked

In [ ]:
percentage_liked([1, 2, 3, 4, 5, 4, 5, 1])

0.5

#### Question 5

Say you're doing analytics for a website.  You need to write a function that returns the percentage growth in the total number of users relative to a specified number of years ago.

Your function `percentage_growth()` should take two arguments as input:
- `num_users` = Python list with the total number of users each year.  So `num_users[0]` is the total number of users in the first year, `num_users[1]` is the total number of users in the second year, and so on.  The final entry in the list gives the total number of users in the most recently completed year.
- `yrs_ago` = number of years to go back in time when calculating the growth percentage

For instance, say `num_users = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]`.
- if `yrs_ago = 1`, we want the function to return a value of about `0.036`. This corresponds to a percentage growth of approximately 3.6%, calculated as (2001078 - 1930992)/1930992.
- if `years_ago = 7`, we would want to return approximately `0.66`.  This corresponds to a percentage growth of approximately 66%, calculated as (2001078 - 1204334)/1204334.

Your coworker sent you a draft of a function, but it doesn't seem to be doing the correct calculation.  Can you figure out what has gone wrong and make the needed changes?

In [ ]:
num_users = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]

In [ ]:
num_users[len(num_users)-1]

2001078

In [ ]:
num_users[len(num_users)- 1]

2001078

In [ ]:
num_users[len(num_users)-2]

1930992

In [ ]:
def percentage_growth(num_users, yrs_ago):
    growth = (num_users[-1] - num_users[-1 - yrs_ago])/num_users[-1 - yrs_ago]
    return growth

# Do not change: Variable for calculating some test examples
num_users_test = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]

# Do not change: Should return .036
print(percentage_growth(num_users_test, 1))

# Do not change: Should return 0.66
print(percentage_growth(num_users_test, 7))

0.03629533421163837
0.6615639847417742

## **Bonus Exercise : Titanic Tutorial**
Make your first submission to a Kaggle competition!

\
The [notebook](https://www.kaggle.com/code/alexisbcook/titanic-tutorial/notebook) is beginner-friendly and does not assume you have any experience with coding. At the same time, you'll learn how to author your own notebooks on Kaggle, and it gives you a great idea of what you'll be able to do if you continue to learn data science!

\
If you're interested in learning more, we strongly suggest our (3-hour) [Intro to Machine Learning course](https://www.kaggle.com/learn/intro-to-machine-learning), which will help you fully understand all of the code that we've presented here. You'll also know enough to generate even better predictions!

In this section,**you'll train your own machine learning model to improve your predictions**. If you've never written code before or don't have any experience with machine learning, don't worry! We don't assume any prior experience in this tutorial.

### Load the data

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/content/drive/MyDrive/iMLND/Titanic'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/drive/MyDrive/iMLND/Titanic/titanic.zip
/content/drive/MyDrive/iMLND/Titanic/gender_submission.csv
/content/drive/MyDrive/iMLND/Titanic/train.csv
/content/drive/MyDrive/iMLND/Titanic/test.csv

In [ ]:
train_data = pd.read_csv('/content/drive/MyDrive/iMLND/Titanic/train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
test_data = pd.read_csv('/content/drive/MyDrive/iMLND/Titanic/test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

- Find **patterns** in train.csv that help us **predict** whether the passengers in test.csv survived

### Explore a pattern

The sample submission file in **gender_submission.csv** assumes that all female passengers survived (and all male passengers died).

Is this a reasonable first guess? We'll check if this pattern holds true in the data (in **train.csv**).

In [ ]:
women = train_data.loc[train_data.Sex == 'female']['Survived']
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [ ]:
men = train_data.loc[train_data.Sex == 'male']['Survived']
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

> From this you can see that almost 75% of the women on board survived, whereas only 19% of the men lived to tell about it. Since gender seems to be such a strong indicator of survival, the submission file in **gender_submission.csv** is not a bad first guess!

This gender-based submission bases its predictions **on only a single column**. As you can imagine, by **considering multiple columns**, we can discover more **complex patterns** that can potentially yield better-informed predictions.*Since it is quite difficult to consider several columns at once (or, it would take a long time to consider all possible patterns in many different columns simultaneously), we'll use **machine learning to automate this** for us.*

### Machine learning model

- Build a **random forest model**
 *the random forest model makes a democratic decision: the outcome with the **most votes wins**!*

The code cell below looks for patterns in four different columns ("**Pclass**", "**Sex**", "**SibSp**", and "**Parch**") of the data. It constructs the trees in the random forest model based on patterns in the **train.csv** file, before generating predictions for the passengers in **test.csv**. The code also saves these new predictions in a CSV file **submission.csv**.

In [ ]:
from sklearn.ensemble import RandomForestClassifier

y = train_data['Survived']

features = ["Pclass","Sex","SibSp","Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X,y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId':test_data.PassengerId,
                       'Survived': predictions})

output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!